@import '../variables';

.left {
  text-align: right;
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.image {
  height: 480px;
  width: 100%;
  background-attachment: fixed;
  background-size: 390px 330px;
  background-position: center;
  position:relative;

  @media (max-width: 65em) {
    height: 330px;
    background-attachment: local;
    background-size: contain;
    background-position: center center;
  }
}

.top {
  &::before {
    position:absolute;
    width: 100%;
    height:50px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    display:block;
    content: '';
  }
}

.bottom {
  &::before {
    position:absolute;
    width: 100%;
    height:50px;
    bottom:0;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    display:block;
    content: '';
  }
}

.imageContainer {
  width: 33.3333%;
  @media (max-width: 65em) {
    width: 100%;
  }
}

.text {
  height: 480px;
  width: 33.3333%;
  & h4 {
    color:var(--violet);
    font-weight: bold;
    font-size: 1.4rem;
  }
  & i {
    font-size: 2.5rem;
  }

  @media (max-width: 65em) {
    height: auto;
    width:100%;
    text-align: center;
    & h4 {
      font-size: 2rem;
    }
    & i {
      font-size: 3rem;
    }
  }
}
