@import '../variables';

.base {
  text-align: center;
  font-size: .8rem;
  letter-spacing: 4px;
  min-height: 5rem;
}

.icon {
  font-size: 3rem;
  transition: all 0.3s ease;
}

.clickable {
  cursor :pointer;
}

.active {
  transition: all 0.3s ease;
  font-size: 5rem;
}

@media (max-width: 450px) {
  .icon {
    font-size: 2rem;
  }
}
