@import '../variables';

.base {
  height: auto;
  width: 100%;
  background-color: transparent;
}

.polygon {
  height: auto;
}

.perspective {
  perspective: 500px;
}

.flipped {
  composes: base;
  margin-top:-1px;
  transform: rotateX(180deg) rotateY(180deg);
}
