@import '../variables';

.base {
  font-weight: 300;
  font-size: .8rem;
  color: var(--blackTransparent);

  &>hr {
    height: 1px;
    width: 80%;
    background-color: var(--blackTransparent);
  }

  &>aside {
    font-size: .6rem;
  }
}
