:root {
  --white: #FFF;
  --black: #000;
  --blackTransparent: rgba(0, 0, 0, 0.7);
  --whiteTransparent: rgba(255, 255, 255, 0.8);
  --red: #D73D42;
  --gray: #717C8B;
  --green: #6BD095;
  --orange: #F7813A;
  --yellow: #E29E29;
  --violet: #8749B5;
  --darkViolet: color(var(--violet) blackness(60%));

  --leftRotation: 20deg;
  --rightRotation: -30deg;
}
