@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,900,800,500,200,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700);
@font-face {
    font-family: 'Brandon Text';
    src: url('./brandontext/hvd_fonts_-_brandontext-bold.eot');
    src: url('./brandontext/hvd_fonts_-_brandontext-bold.eot?#iefix') format('embedded-opentype'),
    url('./brandontext/hvd_fonts_-_brandontext-bold.woff2') format('woff2'),
    url('./brandontext/hvd_fonts_-_brandontext-bold.woff') format('woff'),
    url('./brandontext/hvd_fonts_-_brandontext-bold.ttf') format('truetype'),
    url('./brandontext/hvd_fonts_-_brandontext-bold.svg#brandon_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
