@import '../variables';

.base {
  position:fixed;
  z-index:-10;
  width:100%;
  height:100%;
  top:0;
  left:0;
  & img {
    object-fit:cover;
    height:100%;
    width:100%;
    max-height: 100vh;
  }
}
@keyframes pulse {
  from {
    width:100%;
    height:100%;
    top:0;
    left:0%;
  }

  10% {
    width:100%;
    height:100%;
    top:0;
    left:0%;
  }

  20% {
    top:-3%;
    left:-3%;
    width:106%;
    height:106%;
  }

  30% {
    top:0%;
    left:0%;
    width:100%;
    height:100%;
  }

  35% {
    top:-6%;
    left:-6%;
    width:112%;
    height:112%;
  }

  40% {
    top:0%;
    left:0%;
    width:100%;
    height:100%;
  }

  to {
    top:0%;
    left:0%;
    width:100%;
    height:100%;
  }
}

.pulse {
    animation-name: pulse;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
