@import '../variables';

.base {
  text-align: center;
  border: 1px var(--violet) solid;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.normal {
  composes: base;
  color: var(--violet);
  background-color: transparent;

  &:active {
    background-color: var(--violet);
    color: var(--white);
  }
}

.inverse {
  composes: base;
  background-color: var(--violet);
  color: var(--white);

  &:active {
    color: var(--violet);
    background-color: transparent;
  }
}
