@import '../variables';

.base {
  background-color: var(--white);
  border: 1px var(--violet) solid;
  border-radius: 10px;
  color: var(--violet);
  outline: none;

  &::-webkit-input-placeholder {
    color: var(--violet);
  }

  &:-moz-placeholder {
     color: var(--violet);
     opacity:  1;
  }

  &::-moz-placeholder {
     color: var(--violet);
     opacity:  1;
  }
  
  &:-ms-input-placeholder {
     color: var(--violet);
  }
}

.input {
  composes: base;
}

.area {
  composes: base;
}
