@import '../variables';

.container {
  color: white;
  font-size: 14px;
}

.type_green {
  background: var(--green);
}

.type_gray {
  background: var(--gray);
}

.type_orange {
  background: var(--orange);
}

.type_red {
  background: var(--red);
}

.leftColumn {
  text-align: left;
}

.rightColumn {
  text-align: right;
}

.centerColumn {
  text-align: center;
}

.shadow {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.56);
}

.upper .centerColumn {
  text-transform: uppercase;
}
