/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  top:3rem;
  right:10%;

  & button {
    cursor: pointer;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(135, 73, 181, 0.8);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  top:15px!important;
  right:15px!important;
  height: 24px;
  width: 24px;
  & button {
    cursor: pointer;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(90, 74, 102);
  height: 28px!important;
  width:6px!important;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(255, 255, 255, 0.8);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgba(255, 255, 255, 0.8);
  & svg {
    color: rgba(255, 255, 255, 0.8);
  }
}

/* Wrapper for item list */
.bm-item-list {
  color: #000000;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.hide-burger .bm-burger-button {
  opacity: 0;
  transition: opacity 1s;
}

.show-burger .bm-burger-button {
  opacity: 1;
  transition: opacity 1s;
}
