@import 'basscss';
@import 'sanitize.css/lib/sanitize.css';
@import '../../app/components/variables';
@import './burger';

:root {
  /** Sanitize.css **/
  --root-box-sizing: border-box;
  /*--root-font-family: var(--font-family);*/
  --textarea-resize: none;
  /*--root-background-color: var(--dark-bg);*/
}

h1, h2, h3, h4, h5, h6, .h {
  /*font-family: var(--heading-font-family);*/
  font-weight: normal;
}

::-webkit-scrollbar {
    display: none;
}

body {
  -webkit-font-smoothing: antialiased;
  /*font-family: var(--font-family);*/
}

a {
  cursor: pointer;
}

main {
  /*background-color: var(--main-bg);*/
}

img {
  max-width: 100%;
}

.upper {
  text-transform: uppercase;
}

.mr1 {
  margin-right: 1rem;
}

.ml4 {
  margin-left: 4rem;
}

.overflow-scroll {
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 52em){
  .md-justify-between{
    webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (min-width: 64em){
  .lg-right-align{
    text-align: right;
  }
}

@media screen and (max-width: 52em){
  .sm-center{
    text-align: center;
  }
}
