@import '../variables';

.base {
  text-align: center;
  &>h5 {
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 2px;
  }

  &>p {
    font-weight: 400;
  }

  &>aside {
    font-weight: 300;
    font-size: .6rem;
  }
}
