.enter, .appear {
  transition: all 200ms ease-in;
  transform: translateY(-100px);
  opacity: 0;
}

.enterActive, .appearActive {
  transform: translateY(0px);
  opacity: 1;
}

.leave {
  transition: all 200ms ease-in;
  transform: translateY(0px);
  opacity: 1;
}

.leaveActive {
  transform: translateY(-100px);
  opacity: 0;
}
