@import '../variables';

.menuItem {
  display:block;
  width:100%;
  font-family: 'Brandon Text';
  color: var(--darkViolet);

  & aside {
    font-size: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  & span {
    font-size: 0.5rem;
  }
}
