@import '../variables';

.base {
  text-align: center;
  font-family: Raleway;


    & span {
      display: block;
      width: 100%;
      text-align: left;
      font-size: 0.6rem;
      font-weight: 600;
    }

    & h2 {
      font-size: 2rem;
      font-weight: 900;
      white-space: nowrap;
    }

    & hr {
      margin-left: -4px;
      height: 1px;
      width: 30px;
      background-color: var(--blackTransparent);
    }

}

.invert {
  composes: base;
  color: var(--white);
  & hr {
    background-color: var(--whiteTransparent);
  }
}
