@import '../variables';

.base {
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: Open Sans;
}

.white {
  color: var(--black);
  background-color: var(--white);
}

.transparent {
  color: var(--white);
  background-color: transparent;
}

.black {
  color: var(--white);
  background-color: var(--blackTransparent);
}
